<%= simple_form_for @message do |f| %>
<% if @message.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= "#{pluralize(@message.errors.count, "error")} prohibited this post from being saved:" %>
  </h2>
  <ul>
    <% @message.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
<div class="form-group">
  <div class="form-group col-sm-6">
    <%= f.input :to, class: "form-control" %>
  </div>
</div>
</div>

<div class="row">
<div class="form-group">
  <div class="form-group col-sm-6">
    <%= f.input :subject, class: "form-control" %>
  </div>
</div>
</div>

<div class="row">
<div class="form-group">
  <div class="form-group col-sm-6">
    <%= f.input :content, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>
</div>
</div>

<div class="row">
<div class="form-group">
  <div class="form-group col-sm-3">
    <%= f.button :submit , :class=>'btn btn-primary' %>
  </div>
</div>
</div>
<% end %>