<% provide(:title, "Log in") %>

<h1>Selamat datang di Klar. <br/> <br/>
	Silahkan login.</h1>

	<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<div class="row">
		<form>
			<div style="padding: 0px 30%">
				<%= form_for(:session, url: login_path) do |f| %>

				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				
				<br><br>
				<%= f.submit "Log in", class: "btn btn-primary" %>
				<br /><br /><br />
				<%= link_to "Sign up now!", signup_path, class: "btn btn-primary", style: "color: #FFFFFF;" %>
				<% end %>
			</div>
		</form>
	</div>

</div>