<div class="col-sm-11 col-xs-12 blog-content">
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

	<h2 class="text-center">
		<strong><%= @article.title %></strong>
	</h2>

	<h5 class="text-center"><%= @article.created_at.strftime('%b %d, %Y') %></h5>

	<div class="content">
		<%= raw @article.content %>
	</div>
	<br>
	<p>
		Posted by user number 
		<strong><%= @article.user_id %></strong>
	</p>
	<br>
	<div class="row">
		<div class="row">
			<h2 class="col-md-1" style="text-align: left;">Comments</h2>
		</div>
		<div class="row">
			<% @article.comments.each do |comment| %>
			<div class="col-md-8">
				<div class="container-fluid" style="border: 1px solid #cecece;">
					<div class="row">
						<div class="col-md-6">
							<p>
								<strong>Commenter:</strong>
								<%= comment.writer_name %>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p>
								<%= comment.content %>
							</p>
						</div>
					</div>
				</div>
				<br><br>
			</div>
			<% end %>
		</div>
	</div>
	
	<div class="row">
		
		<h2 style="text-align: left;"><b>Add a comment</b></h2>
		<%= form_for([@article, @article.comments.build]) do |f| %>
		<div class="form-group row">
			<div class="col-md-8">
				<%= f.label :writer_name %><br>
				<%= f.text_field :writer_name %>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-8">
				<%= f.label :content %><br>
				<%= f.text_area :content %>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-4">
				<%= f.submit 'Submit', :class=>'btn btn-primary' %>
			</div>
		</div>
		<% end %>
		</div>
	</div>
</div>